/* Шаг 1: базовая настройка */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Шаг 2: основной layout */
.main {
    display: flex;
    flex-direction: row;  /* ← чтобы блоки шли в строку */
    height: 100%;         /* ← берём всю высоту body */
}

/* Шаг 3: колонки */
.left, .chat_window, .info {
    height: 100%;
}

.left {
    width: 25%;
    border-right: 1px solid #BFBFBF;
    display: flex;
    flex-direction: column;
}

.chat_window {
    display: flex;
    flex-grow: 1;
    
    flex-direction: column;
    background-color: #f8f8f8;
}

.info {
    width: 20%;
    background-color: #f0f0f0;
}

/* Шаг 4: контент внутри левой панели */
#chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.2s ease;
}

.chat-item:hover {
    background-color: #f5f5f5;
}
.search {  
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    height: 40px;
}

#searchResults {
    position: absolute;
    top: 100%;      /* сразу под полем */
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;  /* чтобы не было двойной границы с input */
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#searchResults li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#searchResults li:last-child {
    border-bottom: none;
}

#searchResults li:hover {
    background-color: #f0f0f0;
}

.bi-search{
    position: absolute;
    left: 41px;
    color: #828282;
}
 
#userSearch{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    width: 88%;
    height: 40px;
}

#userSearch:focus{
    outline: none;
}

#serch_chats:focus{
    outline: none;
}

.chats {
    overflow-y: auto;
    position: relative;
    flex-grow: 1;
}

.logo{
    font-weight: 600;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    display: flex;
}
.rp{
    color: #F19226;
}

.bi-chat{
    width: 28px;
    height: 28px;
}

.bi-gear-fill{
    width: 28px;
    height: 28px;
}

.chat-choise, .settings-choise {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #D4D4D4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   /* Текст прижмётся к низу */
    align-items: center;         /* По центру по горизонтали */
    width: 63px;
    height: 57px;
    transition: background-color 0.3s ease;
    text-decoration: none;       /* если это ссылки */
    color: #373737;              /* чтобы не было стандартного синего */
}

.chat-choise:hover, .settings-choise:hover{
    background-color: #c1c1c1;
}

.bot-left{
    vertical-align: bottom;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    gap: 30px;
}

/* Чаты */
.saved {
    height: 80px;
    background-color: #F7F7F7;

    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.chat-logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 7px;
    border-radius: 50%;
}

.chat_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.chat_name {
    margin-bottom: 10px;
}

.chat_text {
    color: gray;
}



/* открытый чат */

.chat_header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}

.companion-logo{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 24px;
    margin-right: 16px;
}

.message-field{
    border: none;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #E6E6E6;
    padding-left: 16px;
    padding-right: 40px;
}

.message-field:focus{
    outline: none;
}

.bi-image{
    right: 100px;
    position: absolute;
    right: 110px;
    width: 24px;
    height: 24px;
    color: #828282;
}

.bot{
    position: relative;
    width: 88%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
    height: 40px;
    justify-content: center;
}

#sendButton{
    margin-left: 10px;
    border-radius: 8px;
    background-color: #F19226;
    transition: background-color 0.3s ease;
    border: none;
    height: 30px;
}

#sendButton:hover{
    background-color: #BE721B;
    cursor: pointer;
}

/* info */
.info{
    display: flex;
    justify-content: center;
    border-left: 1px solid #E0E0E0;
}

.companion-logo-info{
    width: 128px;
    height: 128px;
    background-color: gray;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 21px;
}

.info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.info-button{
    margin-top: 55px;
    width: 81%;
    height: 40px;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.info-button:hover{
    background-color: #292929;
    cursor: pointer;
}

/* messages */
.messages-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    
    padding-bottom: 10px;
    
    min-height: 0;
}

.message {
    max-width: 70%;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.4;
    display: block;
    clear: both;
    word-wrap: break-word;
}

/* Исходящее сообщение (отправлено текущим пользователем) */
.message.outgoing {
    background-color: #000000;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    border-bottom-right-radius: 0;
    align-self: flex-end; 
}

/* Входящее сообщение (получено от собеседника) */
.message.incoming {
    background-color: #F19226;
    align-self: flex-start;
    margin-right: auto;
    border-bottom-left-radius: 0;
    align-self: flex-start;
}

/* dark theme */
body.dark {
    background-color: #121212;
    color: #E0E0E0;
}

body.dark .message.incoming{
    background-color: #F19226;
}

body.dark .message.outgoing{
    background-color: #fff;
    color: #000;
}

body.dark input {
    background-color: #1e1e1e;
    color: #f5f5f5;
    border: 1px solid #333;
}

body.dark input::placeholder {
    color: #aaa;
}

body.dark .log-but {
    background-color: #f19226;
    color: #000;
}

body.dark .log-but:hover {
    background-color: #e08621;
}

body.dark a {
    color: #f5f5f5;
}

body.dark .rp {
    color: #f19226;
}

body.dark .search input {
    background-color: #1e1e1e;
    color: #f5f5f5;
    border: 1px solid #444;
}

body.dark .chat_window,
body.dark .left,
body.dark .info {
    background-color: #1a1a1a;
    color: #eee;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}

body.dark .chat_header
{
    background-color: #202020;
    border-top: 1px solid #333;
    border-bottom: 1px solid #444;
}

body.dark .message-field {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
}

body.dark .settings-choise,
body.dark .chat-choise {
    color: #f5f5f5;
    transition: background-color 0.2s ease;
}

body.dark .settings-choise:hover,
body.dark .chat-choise:hover {
    background-color: #2a2a2a;
}

body.dark .search {
    background-color: #1a1a1a;
}

body.dark #userSearch {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
}

body.dark #userSearch::placeholder {
    color: #aaa;
}

body.dark #searchResults {
    background-color: #2a2a2a;
    color: #eee;
    border-color: #444;
}

body.dark #searchResults li:hover {
    background-color: #333;
}

body.dark .chat-choise,
body.dark .settings-choise {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #2a2a2a;
    color: #f5f5f5;
}

body.dark .chat-choise:hover,
body.dark .settings-choise:hover {
    background-color: #3a3a3a;
}

body.dark #sendButton {
    background-color: #f19226;
    color: #000;
}

body.dark #sendButton:hover {
    background-color: #e08621;
}
